.sidebar {
  .logo {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    h1 {
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      margin: 0;
    }
  }
}
